.caracteristicas {
    padding:  0;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    width: 1200px;
    max-width: 100%;
}

.row {
    justify-content: center;
}

.caracteristicas.bg-dark-blue {
    background-color: var(--principal)
}

.caracteristicas.bg-dark-blue .card p {
    margin: 5px 0 0;
}

.caracteristicas .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0;
    text-align: center;
    padding: 30px;
    color: white;
    border: none;
    background-color: var(--principal);
    position: relative;
    min-height: 130px;
}

.caracteristicas .card h3 {
    font-size: 20px;
}

.caracteristicas .card p {
    color: white;
}

.caracteristicas .sinp {
    display: flex;
    justify-content: center;
    padding: 0;
}