.seccion {
    padding:  0;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    width: 1200px;
    max-width: 100%;
}

.row {
    justify-content: center;
}

.seccion.bg-dark-blue {
    background-color: var(--principal)
}

.seccion.bg-dark-blue .card p {
    margin: 5px 0 0;
}

.seccion .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0;
    text-align: center;
    padding: 30px;
    color: white;
    border: none;
    background-color: var(--principal);
    position: relative;
}

.seccion .card h3 {
    font-size: 20px;
}

.seccion .card p {
    color: white;
    font-style: italic;
}

.seccion .sinp {
    display: flex;
    justify-content: center;
    padding: 0;
}