<section class="seccion bg-dark-blue">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-6 sinp"> 
                <div class="card">

                    <div>
                        <video style="padding-right: 10px; margin-bottom: 20px; height: 120px;" [muted]="true" autoplay playsinline loop>
                            <source src="../../../assets/videos/quote.mp4" type="video/mp4">
                        </video>
                    </div>

                    <div>
                        <p>"En 2017 tuvimos que realizar la instalación de varios equipos de aires acondicionados en nuestras oficinas. Tuvimos una atención excelente y en un tiempo récord."</p>
                    </div>

                    <div>
                        <h1 class="h4 mt-3">Rodrigo Ceolín</h1>
                    </div>

                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 sinp"> 
                <div class="card">

                    <div>
                        <img src="../../../assets/images/cliente.jpeg" alt="" style="border-radius: 50%; margin-bottom: 20px;" height="150" width="150">
                    </div>

                    <div>
                        <p>"Desde que los conocí en 2016, sigo llamándolos todos los años para hacer el matenimiento y siguen cumpliendo como la primera vez"</p>
                    </div>

                    <div>
                        <h1 class="h4 mt-3">Marcos Ezequiel Dituri</h1>
                    </div>

                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 sinp"> 
                <div class="card">

                    <div>
                        <video style="padding-right: 10px; height: 120px;" [muted]="true" autoplay playsinline loop>
                            <source src="../../../assets/videos/quote.mp4" type="video/mp4">
                        </video>
                    </div>

                    <div>
                        <p>"Siempre nos dieron el mejor trato y la mejor atención, los recomiendo!!!"</p>
                    </div>

                    <div>
                        <h1 class="h4 mt-3">Carolina Di Maggio</h1>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</section>