<section class="footer">
    <div class="bloqueFooter row">
        
        <div class="bloque ubicacion">
            <h1>Nuestra ubicación</h1>
            <h2 class="h4">Partido de Tres de Febrero, Buenos Aires</h2>
        </div>
        
        <div class="bloque info">
            <video style="padding: 10px;" [muted]="true" autoplay playsinline loop>
                <source src="../../../assets/videos/wings-footer.mp4" type="video/mp4">
            </video>
            <h1>MARCELO S.A</h1>
            <h2 class="h4">Llamá ahora +5411223344</h2>
        </div>
        
        <div class="bloque social">
            <h1>Seguinos</h1>
            <ul class="redes">
                <li><fa-icon [icon]="faFacebookSquare"></fa-icon></li>
                <li><fa-icon [icon]="faInstagramSquare"></fa-icon></li>
                <li><fa-icon [icon]="faTwitterSquare"></fa-icon></li>
            </ul>
        </div>
        
    </div>
</section>