<section class="footer">
    <div class="bloqueFooter row">
        
        <div class="bloque ubicacion">
            <h1>Nuestra ubicación</h1>
            <h2 class="h4">Partido de Tres de Febrero, Buenos Aires</h2>
        </div>
        
        <div class="bloque info">
            <div>
                <img style="margin: 10px;" src="../../../assets/images/wings-footer.gif" alt="" height="120px" width="120px">
            </div>
            <h1>MARCELO S.A</h1>
            <h2 class="h4">Llamá ahora +5411223344</h2>
        </div>
        
        <div class="bloque social">
            <h1>Seguinos</h1>
            <ul class="redes">
                <li><fa-icon [icon]="faFacebookSquare"></fa-icon></li>
                <li><fa-icon [icon]="faInstagramSquare"></fa-icon></li>
                <li><fa-icon [icon]="faTwitterSquare"></fa-icon></li>
            </ul>
        </div>
        
    </div>
</section>