<section class="servicios">
  <div class="container">
    <div class="row fila">

      <div class="elemento col-md-4">
        <div class="bloqueTitulo">
          <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
          <h1 class="h3"> Instalaciones de aires acondicionados</h1>
        </div>
        <p>Realizamos instalaciones y colocaciones de splits y aires acondicionados en general (split / ventana / multisplit / piso-techo), cualquiera sea la marca y el modelo del mismo, sea trabajo en altura o no.</p>
      </div>

      <div class="elemento col-md-4">
        <div class="bloqueTitulo">
          <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
          <h1 class="h3"> Reparaciones de aires acondicionados</h1>
        </div>
        <p>Cambios de válvulas, compresores y ventiladores, capacitores, controles remotos, plaquetas controladoras, forzadores, válvulas de expansión entre otras.</p>
      </div>

      <div class="elemento col-md-4">
        <div class="bloqueTitulo">
          <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
          <h1 class="h3">Mantenimiento de aires acondicionados</h1>
        </div>
        <p>Realizamos control de carga de refrigerante, temperaturas, presiones, ajustes de bornes consumo energético. limpieza de radiadores con hidrolavadora y detergente químico para tal fin, limpiamos bandeja de condensadoras para evitar el goteo interior, filtros, destapaciones de caños y mangueras de drenaje.</p>
      </div>

    </div>

    <div class="row fila">

      <div class="elemento col-md-4">
        <div class="bloqueTitulo">
          <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
          <h1 class="h3">Mantenimiento y reparación de UPS</h1>
        </div>
        <p>Nuestro equipo de servicio técnico especializado ofrece un nivel eficiente y rápido de servicio, reparación y soporte para todas las marcas de UPS del mercado.</p>
      </div>

      <div class="elemento col-md-4">
        <div class="bloqueTitulo">
          <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
          <h1 class="h3">Servicio de emergencia de 24hs</h1>
        </div>
        <p>Estamos siempre listos para ayudarte siempre que nos necesites, el tiempo no es un factor que nos haga frente.</p>
      </div>

      <div class="elemento col-md-4">
        <div class="bloqueTitulo">
          <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
          <h1 class="h3">Trabajo con Responsabilidad</h1>
        </div>
        <p>Nuestras instalaciones cuentan con un año de garantía (por escrito), también al ejecutar el trabajo, cuidamos la estética protegiendo pisos y paredes.</p>
      </div>

    </div>

  </div>
</section>

