<section class="servicios">
    <div class="container">
        <div class="row fila">
            <div class="elemento col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Instalaciones de aire acondicionado
            </div>
            
            <div class="elemento col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Reparación y mantenimiento de equipos
            </div>
            
            <div class="elemento col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Instalación eléctrica completa
            </div>
            
        </div>
        
        <div class="row fila">
            
            <div class="elemento col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Mantenimiento y reparación de UPS
            </div>
            
            <div class="elemento col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Servicio de emergencia 24hs 
            </div>
            
            <div class="elemento col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Financiamiento adecuado a tus necesidades
            </div>
            
        </div>
        
        <div class="row">
            
            <div class="elementoUltimo col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Línea de respuestos de primera marca
            </div>
            
            <div class="elementoUltimo col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Descuentos especiales para constructoras
            </div>
            
            <div class="elementoUltimo col-md-4">
                <fa-icon [icon]="faCheckCircle" style="margin-right: 10px;"></fa-icon>
                Garantía escrita por 1 año
            </div>
            
        </div>
    </div>
</section>

