.servicios {
  background-color: var(--principal);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  color: white;
  width: 1200px;
  max-width: 100%;
  padding: 3rem;
}

.elemento {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid white;
  transition: all .3s ease-out;
}

.elemento:hover {
  background-color: white;
  color: var(--principal);
  transition: all .3s ease-out;
}

.bloqueTitulo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

@media only screen and (max-width: 974px) {

  .h3 {
    font-size: 1.3rem;
  }

}