<section class="acerca">
    
    <div class="main">
        <div class="container">
            
            <article class="bloqueArticulo" data-content="true">
                
                <header>
                    <h1>Marcelo A.C.</h1>
                    <h2>Técnicos en los que podés confiar.</h2>
                </header>
                
                <div class="articulo">
                    <p>
                        ¿Necesitás instalar un nuevo equipo o realizar un service a tu viejo aire en Buenos Aires? Entonces vas a estar seguro con el servicio de Marcelo A.C.
                        Con màs de 6 años de experiencia en el rubro, nuestros técnicos se han convertido en una opción confiable.
                        Ya sea para la revisión anual, inspección de rutina o una instalaciòn desde cero, nuestro equipo está comprometido a complacer tus deseos de confort y seguridad.
                    </p>
                    <p>
                        Un equipo en mal estado es más que un simple inconveniente, es una amenaza a tu comodidad. Por eso es que nuestro equipo
                        se encuentra disponible 24/7 para abordar tu emergencia.
                        Ninguno de nuestros servicios tendrá una comisión sorpresa. El presupuesto inicial, será el precio a pagar, sin gastos extras.
                    </p>
                    <h3>¡LLamá a Marcelo A.C. cuando nos necesites!</h3>
                    <p>
                        Sabrás que el técnico que llegue a tu hogar es uno de los nuestros cuando lo veas.
                        Siempre están listos para la necesidad individual de cada hogar y proveen las mejores soluciones costo-beneficio que se adecuen a tus intereses.
                        Nuestro equipo se tomará todo el tiempo necesario para resolver tus inconvenientes y no se irán hasta que estés 100% satisfecho.
                    </p>
                    <p>
                        Como resultado de nuestro compromiso con la excelencia, nos estamos convirtiendo en la opción número 1 para hacerte la vida más fácil.
                    </p>
                </div>
            </article>
            
            <aside class="formulario">
                <div>
                    
                    <h1 class="h2">Solicitá tu presupuesto</h1>
                    
                    <form autocomplete="off" (ngSubmit)="presupuestar(fContacto)" #fContacto="ngForm">
                        <input [(ngModel)]="nombre" name="nombre" class="input" type="text" required placeholder="Nombre">
                        <input [(ngModel)]="email" name="email" class="input" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required placeholder="Email">
                        <input [(ngModel)]="telefono" name="telefono" class="input" type="number" required placeholder="Teléfono">
                        <textarea [(ngModel)]="mensaje" name="mensaje" class="input" style="height: 150px; resize: none;" type="text" required placeholder="Mensaje"></textarea>
                        <button type="submit" class="enviar">SOLICITAR</button>
                    </form>
                    
                </div>
            </aside>
            
        </div>
    </div>
</section>