<section class="caracteristicas bg-dark-blue">
    <div class="container">
        <div class="row">
            
            <div *ngFor="let item of beneficios; let i=index" class="col-lg-4 col-md-6 sinp animate__animated animate__zoomIn wow" data-wow-delay="0.3s"> 
                <div class="card">
                    
                    <div>
                        <img style="margin-right: 10px;" [src]="item.gif" alt="" height="120px" width="120px">
                    </div>
                    
                    <div>
                        <h3>{{item.titulo}}</h3>
                        <p>{{item.descripcion}}</p>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>