<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        
        <a href="#" aria-label="Home">
            <video style="padding-right: 10px;" [muted]="true" autoplay playsinline loop>
                <source src="../../../assets/videos/wings.mp4" type="video/mp4">
            </video>
        </a>
        
        <a class="brand" href="#" aria-label="Home">
            Marcelo A.C
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active btn" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="" (click)="click($event, home)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="" (click)="click($event, servicios)">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="" (click)="click($event, acerca)">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn contacto"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" href="">+5491122334455</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>

<app-carrusel></app-carrusel>

<section #home class="separador">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sinp"><h2>¿POR QUÉ NOSOTROS?</h2></div>
        </div>
    </div>
</section>

<app-caracteristicas></app-caracteristicas>

<section #servicios class="separador">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sinp"><h2>SERVICIOS</h2></div>
        </div>
    </div>
</section>

<app-servicios></app-servicios>

<section #acerca class="separador">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sinp"><h2>ACERCA DE MARCELO A.C.</h2></div>
        </div>
    </div>
</section>

<app-nosotros></app-nosotros>

<section class="separador">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sinp"><h2>CLIENTES SATISFECHOS</h2></div>
        </div>
    </div>
</section>

<app-testimonios></app-testimonios>

<section class="separador">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sinp"><h2>CONTACTO</h2></div>
        </div>
    </div>
</section>

<app-footer></app-footer>
