<app-carrusel></app-carrusel>

<section class="separador">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sinp"><h2>¿POR QUÉ NOSOTROS?</h2></div>
        </div>
    </div>
</section>

<app-caracteristicas></app-caracteristicas>

<section class="separador">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center sinp"><h2>CLIENTES SATISFECHOS</h2></div>
        </div>
    </div>
</section>

<app-testimonios></app-testimonios>
