<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        
        <a href="#" aria-label="Home">
            <video style="padding-right: 10px;" [muted]="true" autoplay playsinline loop>
                <source src="../../../assets/videos/wings.mp4" type="video/mp4">
            </video>
        </a>
        
        <a class="brand" href="#" aria-label="Home">
            Marcelo A.C
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active btn" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn" href="#">Acerca de nosotros</a>
                </li>
            </ul>
            
        </div>
        
    </div>
    
    
</nav>