.navbar { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--principal);
    box-shadow: 0 10px 46px -23px rgba(0,0,0,1);
}

.container-fluid {
    display: flex;
    justify-content: center;
    width: 1200px;
}

.brand {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar-expand-lg .navbar-collapse {

    margin-right: 1.5rem;
    justify-content: flex-end;
    
    a {
        color: white;
    }

}

.contacto {
    margin-left: 20px;
    background-color: white;
    border-radius: 1em;
    color: var(--principal) !important;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .container-fluid {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}

@media only screen and (max-width: 1000px) {
    .container-fluid {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}